In [3]:
import pandas as pd # data 


import os
print(os.listdir("archive"))

['Books.csv', 'Ratings.csv', 'recsys_taxonomy2.png', 'Users.csv']

In [4]:
# import movie data set and look at columns
book = pd.read_csv("archive/Books.csv")
book.columns

C:\Users\Mariana\AppData\Local\Temp\ipykernel_24940\748719697.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv("archive/Books.csv")

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
# what we need is that movie id and title
book = book.loc[:,["ISBN","Book-Title"]]
book.head(10)

         ISBN                                         Book-Title
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi
5  0399135782                             The Kitchen God's Wife
6  0425176428  What If?: The World's Foremost Military Histor...
7  0671870432                                    PLEADING GUILTY
8  0679425608  Under the Black Flag: The Romance and the Real...
9  074322678X            Where You'll Find Me: And Other Stories

In [6]:

rating = pd.read_csv("archive/Ratings.csv")
rating.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [7]:

rating = rating.loc[:,["User-ID","ISBN","Book-Rating"]]
rating.head(10)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0
6   276736  3257224281            8
7   276737  0600570967            6
8   276744  038550120X            7
9   276745   342310538           10

In [8]:

data = pd.merge(book,rating)

In [9]:

data.head(10)

         ISBN           Book-Title  User-ID  Book-Rating
0  0195153448  Classical Mythology        2            0
1  0002005018         Clara Callan        8            5
2  0002005018         Clara Callan    11400            0
3  0002005018         Clara Callan    11676            8
4  0002005018         Clara Callan    41385            0
5  0002005018         Clara Callan    67544            8
6  0002005018         Clara Callan    85526            0
7  0002005018         Clara Callan    96054            0
8  0002005018         Clara Callan   116866            9
9  0002005018         Clara Callan   123629            9

In [10]:
data.shape

(1031136, 4)

In [11]:
data = data.iloc[:1000000,:]

In [12]:

pivot_table = data.pivot_table(index = ["User-ID"],columns = ["Book-Title"],values = "Book-Rating")
pivot_table.head(10)

c:\Users\Mariana\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\reshape\reshape.py:125: RuntimeWarning: overflow encountered in scalar multiply
  num_cells = num_rows * num_columns

ValueError: negative dimensions are not allowed

In [ ]:
book_readed = pivot_table["The Pillars of the Earth"]
similarity_with_other_books = pivot_table.corrwith(book_readed)
similarity_with_other_books = similarity_with_other_books.sort_values(ascending=False)
similarity_with_other_books.head()

NameError: name 'pivot_table' is not defined